# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IDE files
.idea/
*.iml
.settings/
.classpath
.project
.vscode/

# Compiled files
*.class
*.jar
*.war
*.ear

# Logs
*.log

# Sensitive data - wichtig!
src/main/java/org/emrage/twitchbattleapi/config/DatabaseConfig.java